

body {
    padding: 0rem 9rem 1rem 9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 0;
}

/* Header */

#header-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background: #fff;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;
}


#header-container div:last-child {
    margin-left: auto;
}

#submit-download {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;

    color:white;

    background-image: url("./res/galaxy-bg.jpg");
    background-position: center;
    background-size: 100%;

    transition: background-size 0.3s;
    
    /* background: rgb(102, 223, 46); */

    /* transition: background-color 0.2s; */
}

#submit-download:hover {
    background-size: 110%;
    /* background: rgb(80,189,29); */
}




/* Content */

#main-content {
    overflow-y: scroll;
    padding: 3rem 0rem;
}



/* Control/Widget or w/e */
#generator-container {
    background: azure;
    display: grid;
    grid-template-columns: 1fr;

    padding: 0rem 4rem 0rem 4rem;
}

.button-structural {
    background: #eee;
    border: none;

    height: 3rem;
    width: 3rem;

    padding-bottom: 0.3rem;

    border-radius: 50%;
    font-size: 1.7rem;
    text-align: center;
    vertical-align: middle;

    transition: background-color 0.2s;
    transition: box-shadow 0.2s;

    box-shadow: 0rem 0.2rem 0.2rem #cacaca;
}

.button-structural:hover {
    background: rgb(230, 230, 230);
    box-shadow: 0rem 0.2rem 0.1rem #cacaca;
}



.galaxy-panel {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}


.caption {
    width: 100%;
    height: 12rem;

    font-size: 58px;

    border: solid 0.3rem black;
    border-left: none;

    resize: none;
}



/* Footer */
.footer {
    border-top: 1px solid #ccc;
    text-align: center;
}

