

body {
    padding: 0rem 3rem 1rem 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 0;
}

/* Header */

#header-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background: #fff;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;
}


#header-container div:last-child {
    margin-left: auto;
}

#submit-download {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;

    color:white;

    background-image: url("./res/galaxy-bg.jpg");
    background-position: center;
    background-size: 100%;

    transition: background-size 0.3s;
    
    /* background: rgb(102, 223, 46); */

    /* transition: background-color 0.2s; */
}

#submit-download:hover {
    background-size: 110%;
    /* background: rgb(80,189,29); */
}




/* Content */

#main-content {
    overflow-y: scroll;
}




/* Footer */
.footer {
    border-top: 1px solid #ccc;
    text-align: center;
}

